* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.container {
    display: flex;
    width: 100%;
    height: 90%;
}

.aside {
    color: white;
    background-color: #181818;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
}

.aside>h1 {
    margin-left: 10px;
    float: right;
}

.clearfix::after {
    clear: both;
    display: table;
    content: "";
}

.aside-column {
    margin-top: 15px;
    flex-direction: column;
    flex-wrap: wrap;
}

[class*="ascoltati di recente"] {
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    margin-left: 10px;
}

li {
    margin-bottom: 5px;
}

.menu>li:hover {
    color: red;
}

.aside-under {
    margin-top: 10px;
    margin-left: 5px;
}

i {
    margin: 0 5px 0 10px;
}

.aside-under, a, h3 {
    color: white;
    margin-left: 3px;
    text-decoration: none;
    line-height: 10px;
}

.aside>img {
    object-fit: contain;
    position: relative;
    left: 15px;
    top: 10px;
}

.aside-bottom {
    height: 500px;
}

.aside-bottom {
    display: flex;
    align-items: flex-end;
    padding-left: 10px;
    padding-bottom: 15px;
}

.aside-bottom span {
    margin-left: 16px;
}

hr {
    color: white;
}

.main-content {
    display: flex;
    flex-direction: column;
    background: rgb(126, 134, 5);
    background: linear-gradient(90deg, rgba(126, 134, 5, 1) 2%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
    padding: 20px;
    flex-wrap: wrap;
}

.top-right {
    text-transform: uppercase;
    color: white;
    padding-bottom: 50px;
}

.top-right ul {
    list-style-type: none;
}

.menu {
    font-size: 16px;
    padding: 15px 5px;
    display: flex;
    flex-direction: row;
}

.menu li {
    margin-right: 20px;
}

.main-content h2 {
    text-align: left;
    color: white;
}

.main-bottom {
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1480px;
}

.main-bottom .blocco {
    width: 150px;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 15px;
}

.blocco img {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.Recently {
    margin-top: 15px;
    position: absolute;
    float: left;
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: grey;
}
